
@import "./variables";

.form{
  background:$white;
  border-radius:2px;
  margin:$marge auto;
  max-width:$form-witdh;
  padding:$marge;

  label.label{
    display: block;
    font-size: 15px;
    font-weight: 600;
    padding:12px 0 4px;
  }

  input[type=text],
  input[type=date],
  input[type=datetime],
  input[type=email],
  input[type=number],
  input[type=search],
  input[type=time],
  input[type=url],
  input[type=checkbox],
  input[type=password],
  input[type=file],
  textarea,
  select {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $summer-green;
    box-sizing: border-box;
    display: block;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    margin: 2px 0 5px 0;
    outline: none;
    padding: 0;
    width: 100%;
  }

  textarea{
    resize:none;
    height: 150px;
  }
  
  input[type=checkbox]{
    display: inline;
    height: 19px;
    line-height: 20px;
    margin-left: 7px;
    margin-right: 3px;
    width: auto;
  }

  input[type=file]{
    border:0;
    line-height: 0;
  }

  input[type=submit],
  input[type=button]{
    background: $moss-green;
    border-radius: 0px;
    border: none;
    color: $black;
    cursor: pointer;
    font-size: 14px;
    margin: 10px 0 0 0;
    padding: 10px 20px;
    transition: all 150ms ease-out;
  }
  input[type=submit]:hover,
  input[type=button]:hover{
    background: $summer-green;
    color:$white;
  }
}